body{
    background-color: rgb(0, 0, 0);
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: grab;
}
.tile-container{
    position: relative;
    /* box-shadow:
    0 0 4px #9e9e9e,
    0 0 8000px rgba(255, 0, 0, 0.256),
    0 0 11200px rgba(255, 0, 0, 0.304),
    0 0 11600px rgba(255, 0, 0, 0.526),
    0 0 112000px rgba(255, 0, 0, 0.542),
    0 0 116000px rgba(255, 0, 0, 0.201); */
    width: min(100vw,100vh);
    height: min(100vw,100vh);
    display: grid;
    grid-template-columns:repeat(100,1fr);
    grid-template-rows: repeat(100,1fr);
}
.tile{
    transition: 1000ms;
    border-radius: 100%;
}
.tile:hover{
    transition: 0ms;
    background-color: rgb(255, 255, 255);
     box-shadow:0px 0px 10px red,0px 0px 11px red,0px 0px 12px red,0px 0px red,0px 0px 14px red,0px 0px 15px red,0px 0px 16px red;  
}

.tileClick{
    
    border-radius: 100%;
    background-color: rgb(52, 52, 52);
    /* box-shadow:0px 0px 10px red,0px 0px 11px red,0px 0px 12px red,0px 0px red,0px 0px 14px red,0px 0px 15px red,0px 0px 16px red;   */
}
.gamespace{
    position:absolute;
    z-index: -1;
    width: min(100vw,100vh);
    height: min(100vw,100vh);
    background-color: rgba(0, 0, 0, 1);
    border-radius: 100%;
    box-shadow:
    0 0 200px rgba(255, 0, 0, 0.412),
    0 0 4000px rgba(255, 0, 0, 0.389),
    0 0 600px rgba(255, 0, 0, 0.327),
    0 0 800px rgba(255, 0, 0, 0.315),
    0 0 1000px rgba(255, 0, 0, 0.396);
    filter: blur(20px);

}
.gamespace2{
    position:absolute;
    z-index: -2;
    width: min(140vw,140vh);
    height: min(7vw,7vh);
    background-color:rgb(255, 97, 97);
    filter: blur(55px);
    box-shadow:
    0 0 8000px rgba(255, 0, 0, 0.796),
    0 0 11200px rgba(255, 0, 0, 0.674),
    0 0 11000px rgba(255, 0, 0, 0.558),
    0 0 112000px rgba(255, 0, 0, 0.562),
    0 0 116000px rgba(255, 0, 0, 0.697);

}
.gamespace3{
    position:absolute;
    z-index: -3;
    width: min(200vw,200vh);
    height: min(3vw,3vh);
    background-color: rgba(255, 86, 86, 1);
    box-shadow:
    0 0 80px rgba(255, 0, 0, 1),
    0 0 112px rgba(255, 0, 0, 1),
    0 0 116px rgba(255, 0, 0, 1),
    0 0 1120px rgba(255, 0, 0, 1),
    0 0 1160px rgba(255, 0, 0, 1);
    filter: blur(55px);
}